body {
    width: 100%;
    height: 10vh;
    background-image: url('../css/1675883.jpg');
    background-position: center;
    background-size: cover;
    float: left;

}


.myitem {
    border: 2px solid #337AB7;
    background: #BFE2FF;
    padding: 10px 20px;
    margin: 10px 0;

}

.outline-url {
    width: 500px;
    background: #9affe8;
    padding: 5px;
    padding-right: 25px;
    border: solid 1px orange;

   }

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
	text-shadow: 1px 1px 1px #000;
	}


.h1 {
  color: black;
  -webkit-text-stroke: black;
  -webkit-text-fill-color: white;
}
