.myitem {
    border: 2px solid #337AB7;
    background: #BFE2FF;
    padding: 10px 20px;
    margin: 10px 0;
}

.outline-url {
    width: 500px;
    background: #9affe8;
    padding: 5px;
    padding-right: 25px;
    border: solid 1px orange;
    float: justify;
   }



.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}