{% extends "app/base.html" %}


{% block title %}<title>{{ country.name }}</title>{% endblock %}

{% block content %}
    <p class="myitem">Регион: {{ country.reg.name }}</p>
        <div class="">
            <h2 class="h1">{{ country.name }}</h2>
                {% if country.photos %}
                   <p><img width='500px' src="{{ country.photos.url }}"></p>
                {% endif %}
            <p>Насаление: {{ country.correct_view_population }} млн. человек</p>
            <p>Столица: {{ country.capital }}</p>
            <p>Язык: {{ country.lang }}</p>
            <p>Религия: {{ country.religion }}</p>
            <p>Политическая система: {{ country.politic }}</p>
            <p class="">Описание: {{ country.description|linebreaks }}</p>
            <p class="outline-url"><a  href="{% url 'show_cat' country.reg.pk %}">Регион: {{ country.reg.name }}</a></p>

        <!--Как вывести фото?? -->
    <!--        {{ post.images }}-->
            <p>Example: {{ country.images }}</p>
                    {% for i in country.countryshot_set.all %}
                        <a href="#" class="image"><img width='500px' src="{{ i.image.url }}"></a>
                        {{ i }}
                        <a href="#" class="image"><img src="{{ i.image.url }}"></a>
                    {% endfor %}
<!--fafsaf-->
<!--                {% for i in country.images__countryshot.country_name %}-->
<!--                    <a href="#" class="image"><img src="{{ i.image.url }}"></a>-->
<!--                    {{ i }}-->
<!--                    {{ i.country_name }}-->

                <!--     MY       Experiment-->

<!--                {% for i in country.images_set.all %}-->

<!--                <a href="#" class="image"> <img src="{{ i.image.url }}"></a>-->

<!--                {% endfor %}-->


                {% for image in country.countryshot_set.all %}
                    {{ image.country_name }}
                <a href="#" class="image"> <img src="{{ image.image.url }}"></a>
                {% endfor %}

<!---->

            {% endfor %}

            {% if request.user.is_authenticated %}
                <form action="{% url 'edit' country.pk %}" method="get">
                         <button type="submit" class="button-edit">Редактировать</button>
                </form>
                <form action="{% url 'delete' country.pk %}" method="get">
                         <button type="submit" class="button-edit">Удалить</button>
                </form>
            {% else %}
                <p style="color:red">Зарегистрируйтесь или войдите если хотите отредактировать/удалить</p>
{% endif %}
           </div>
        </div>
{% endblock %}
