{% extends "app/base.html" %}

{% block title %}
    <title>{{ current_reg.id }}</title>
{% endblock title %}

{% block content %}

        <div class="myitem">
 <!--   тут траблы с отображением         -->
<!--            {% for region in regions %}-->
<!--            <a href="">{{ region.name}}</a>-->
<!--             {% endfor %}-->
         {% for post in posts %}
            <p class="">{{ post.reg.name }}</p>
        </div>

        <div class="">
            <h2 class="h1"><a href="{% url 'detail' post.pk %}">{{ post.name }}</a></h2>
            {% if post.photos %}
			   <p><img width='500px' src="{{ post.photos.url }}"></p>
		    {% endif %}
            <p>Насаление: {{ post.correct_view_population }} млн. человек</p>
            <p>Столица: {{ post.capital }}</p>
            <p>Язык: {{ post.lang }}</p>
            <p>Религия: {{ post.religion }}</p>
            <p>Политическая система: {{ post.politic }}</p>
            <p>Описание: {{ post.description }}</p>

                    <p class="outline-url"><a href="{% url 'show_cat' post.reg.pk %}">{{ post.reg.name }}</a></p>
<!--            <p class="outline-url "><a href="/app/{{ post.reg.pk }}/">{{ post.reg.name }}</a></p>-->
        </div>
        {% endfor %}

{% endblock content %}
